{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block resourcesCreatorContent %}
    <h1>hello world</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}