{% extends "ImaganaResourcesCreatorBundle::resourcesCreatorLayout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block resourcesCreatorContent %}
    {% if niveaux is defined and niveaux is not empty %}
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>
                <i class="fa fa-wrench"></i> Nom technique
            </th>
            <th>
                <i class="fa fa-tag"></i> Titre
            </th>
            <th>
                <i class="fa fa-folder"></i> Catégorie
            </th>
            <th>
                <i class="fa fa-calendar"></i> Date de création
            </th>
            <th>
                <i class="fa fa-user"></i> Créateur
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="{{ path('imagana_resources_creator_level_management') }}/jeu_phoneme_0001"><i class="fa fa-pencil-square-o"></i> jeu_phoneme_0001</a>
            </td>
            <td>
                titre du niveau
            </td>
            <td>
                phonème
            </td>
            <td>
                19/09/2014 12h34
            </td>
            <td>
                Administrateur
            </td>
        </tr>
        </tbody>
    </table>
    {% else %}
        <p class="alert alert-warning margin-top-md">
            <i class="icon fa fa-exclamation-circle"></i> <strong>Aucun niveaux trouvés !</strong>
        </p>
    {% endif %}
{% endblock %}

{% block resourcesCreatorButton %}
    <a type="button" class="btn btn-primary" href="{{ path('imagana_resources_creator_niveau_create')}}"><i class="icon fa fa-puzzle-piece"></i> Créer un niveau</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}